
<ion-pane>
  <ion-header-bar class="bar-stable">
    <h1 class="title">Indentifiquese</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="E-mail" ng-model="user.username">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="user.password">
      </label>
    </div>

    <button class="button button-positive col" ng-click="proccedLogin()">
      Entrar
    </button>
  </ion-content>

  <ion-footer-bar align-title="center" class="bar-assertive" ng-show="invalidForm">
    <h1 class="title">{{ formMessage }}</h1>
  </ion-footer-bar>
</ion-pane>