
<ion-pane>
  <ion-header-bar class="bar-stable">
    <h1 class="title">Indentifiquese</h1>
  </ion-header-bar>
  <ion-content overflow-scroll="false">

    <div class="card" ng-show="invalidForm">
      <div class="item item-text-wrap">
        {{ formMessage }}
      </div>
    </div>


    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="E-mail" ng-model="user.username">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="user.password">
      </label>
    </div>

    <div class="row responsive-sm">
      <button class="button button-positive col" ng-click="proccedLogin()">
        Entrar
      </button>
    </div>
  </ion-content>

</ion-pane>